body{
    background-color: black;
}
.clock{
    width:300px;
    height: 300px;
    border: 14px solid red;
    position: relative;
    border-radius : 50%;
    margin: 8% auto 0;
}

.dot{
    width: 14px;
    height : 14px;
    border-radius: 50%;
    background-color: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;

}
.d {
    top: 44%;
    left: 44%;
    color: red;
    position: absolute;
    width: 30px;  
    height: 30px;
    font-weight: 1000;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%; 
}
.hour-hand{
    width: 4px;
    height: 70px;
    background-color: red;
    position: absolute;
    left:49.5%;
    bottom:50%;
    z-index: 7;
    transform-origin: bottom center;
    transform: rotate(0deg);
}

.minute-hand{
    width: 2px;
    height: 90px;
    background-color: greenyellow;
    position: absolute;
    left:49.5%;
    bottom:50%;
    margin: auto;
    z-index: 6;
    transform-origin: bottom center;
    transform: rotate(150deg);
}

.second-hand{
    width: 2px;
    height: 120px;
    background-color: white;
    position: absolute;
    left:49.5%;
    bottom:50%;
    margin: auto;
    z-index: 5;
    transform-origin: bottom ;
    transform: rotate(100deg);
}


.clock .d:nth-child(4)  { transform: rotate(30deg) translate(120px) rotate(-30deg); }
.clock .d:nth-child(5)  { transform: rotate(60deg) translate(120px) rotate(-60deg); }
.clock .d:nth-child(6)  { transform: rotate(90deg) translate(120px) rotate(-90deg); }
.clock .d:nth-child(7)  { transform: rotate(120deg) translate(120px) rotate(-120deg); }
.clock .d:nth-child(8)  { transform: rotate(150deg) translate(120px) rotate(-150deg); }
.clock .d:nth-child(9)  { transform: rotate(180deg) translate(120px) rotate(-180deg); }
.clock .d:nth-child(10)  { transform: rotate(210deg) translate(120px) rotate(-210deg); }
.clock .d:nth-child(11)  { transform: rotate(240deg) translate(120px) rotate(-240deg); }
.clock .d:nth-child(12)  { transform: rotate(270deg) translate(120px) rotate(-270deg); }
.clock .d:nth-child(1) { transform: rotate(300deg) translate(120px) rotate(-300deg); }
.clock .d:nth-child(2) { transform: rotate(330deg) translate(120px) rotate(-330deg); }
.clock .d:nth-child(3) { transform: rotate(0deg) translate(120px) rotate(0deg); }